@import "../../variable.scss";

.question-section {
  .question {
  }
  .answer {
    margin-bottom: $block_p_h;
  }

  @media only screen and (max-width: $xl) {
    .answer {
      margin-bottom: $block_p_h_lg;
    }
  }
  @media only screen and (max-width: $lg) {
    .answer {
      margin-bottom: $block_p_h_md;
    }
  }
}
