<div class="row footer">
  <div class="page-container">
    <div class="footer-wrapp">

      <div class="head-footer">
        <p class="copyright">{{'footer.copyright' | translate}} &copy; 2018. EOS Web Wallet</p>
        <div class="soc-wrapp">
          <a href="{{ twitterLink }}" class="link" target="_blank">
            <mat-icon svgIcon="twitter-icon"></mat-icon>
          </a>
          <a href="{{ facebookLink }}" class="link" target="_blank">
            <mat-icon svgIcon="facebook-icon" class="ml-3"></mat-icon>
          </a>
          <a href="{{ telegramLink }}" class="link">
            <mat-icon svgIcon="telegram-icon" class="ml-3"></mat-icon>
          </a>
          <a href="{{ githubLink }}" class="link" target="_blank">
            <mat-icon svgIcon="git-icon" class="ml-3"></mat-icon>
          </a>
          <a href="{{ mediumLink }}" class="link" target="_blank">
            <mat-icon svgIcon="medium-icon" class="ml-3"></mat-icon>
          </a>
        </div>
      </div>

      <div class="body-footer">
        <div class="row">
          <div class="col-md-4 info-text">
            {{'footer.info.text1' | translate}}
          </div>
          <div class="col-md-4 info-text">
            {{'footer.info.text2' | translate}}
          </div>
          <div class="col-md-4 info-text links">
            <a routerLink="ourFeatures" routerLinkActive="active-link" class="link text-center-v">
              {{'our-features.title' | translate}}
            </a>
            <a routerLink="faq" routerLinkActive="active-link" class="link text-center-v">
              {{'faq.title' | translate}}
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>