<app-nav-bar-slider>
  <a routerLink="interactWithContract" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'contracts.interact-with-contract'| translate}}</p>
  </a>
  <a routerLink="deployContract" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'contracts.deploy-contract' | translate}}</p>
  </a>
  <a routerLink="deployAbi" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'contracts.deploy-abi' | translate}}</p>
  </a>
</app-nav-bar-slider>
