<app-nav-bar-slider>
  <a routerLink="setPrivilege" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.set-privilege' | translate}}</p>
  </a>
  <a routerLink="setParams" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.set-params' | translate}}</p>
  </a>
  <a routerLink="setGlobalLimits" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.set-global-limits' | translate}}</p>
  </a>
  <a routerLink="setAccountLimits" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.set-account-limits' | translate}}</p>
  </a>
  <a routerLink="premiumName" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.bid-on-name' | translate}}</p>
  </a>
  <a routerLink="claimRewards" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.claim-rewards' | translate}}</p>
  </a>
  <a routerLink="cancelDelay" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.cancel-delay' | translate}}</p>
  </a>
  <a routerLink="onError" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'other-navbar.on-error' | translate}}</p>
  </a>
</app-nav-bar-slider>
