.resign-container {
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  text-transform: uppercase;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
}
