<div class="page-container">
  <div [ngClass]="{'window-container shadow-container': true, 'mr-0': !loginService.loggedIn()}">
    <form (ngSubmit)="f.form.valid && chooseType()" #f="ngForm">
      <h3 class="text-center header"> {{'find-account.search-account' | translate}}</h3>
      <mat-form-field class="full-width item-form last-item">
        <input matInput type="text" name="proxy" required [(ngModel)]="accountData" placeholder="{{'find-account.account-data' | translate}}"
          #accountDataInput="ngModel" (input)="searchComplite=false" />
        <mat-error *ngIf="accountDataInput.errors?.required"> {{'find-account.account-data-is-required' | translate}}</mat-error>
      </mat-form-field>
      <div class="text-center">
        <button id="submit" class="submit" type="submit" mat-raised-button color="primary" on>{{'buttons.search' |
          translate}}</button>
      </div>
    </form>
  </div>
  <div>
    <app-side-bar class="ricardian-container" [hidden]="!loginService.loggedIn()"></app-side-bar>
  </div>
</div>

<div class="page-container" *ngIf="searchComplite && !acoountsInf.length">
  <div class="window-container shadow-container result-conainer">
    <div class="conainer-fluid">
      <h4 class="not-found-title">{{'find-account.not-found-title' | translate:{ account: accountData } }}</h4>
    </div>
  </div>
</div>

<div class="page-container" [hidden]="!successName && !successKey" *ngFor="let elem of acoountsInf">
  <div class="window-container shadow-container result-conainer">
    <div class="conainer-fluid">

      <h4 class="account-title" [hidden]="!successKey">{{elem?.account_name}}</h4>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4"><span class="info-title">{{'find-account.total-balance' | translate}}:</span></div>
        <div class="col-sm-10 col-xs-8">
          <div class="info" *ngIf="!elem?.total_balance_cut[1];else doubleTotal"><span class="font-weight-bold">{{elem?.total_balance_cut[0]}}
              EOS</span></div>
          <ng-template #doubleTotal>
            <div class="info"><span class="font-weight-bold">{{elem?.total_balance_cut[0]}}</span>.{{elem?.total_balance_cut[1]}}
              EOS / <span class="text-sepia"> {{result?.usd_total | number}} USD</span></div>
          </ng-template>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4"><span class="info-title">{{'find-account.unstacked' | translate}}:</span></div>
        <div class="col-sm-10 col-xs-8">
          <div class="info"><span class="font-weight-bold">{{elem?.balance_cut[0]}}.</span>{{elem?.balance_cut[1]}}</div>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4"><span class="info-title">{{'find-account.stacked' | translate}}:</span></div>
        <div class="col-sm-10 col-xs-8">
            <div class="info"><span class="font-weight-bold">{{elem?.voter_info.staked}}</span>
              {{'info-bar.eos' | translate}}</div>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4"><span class="info-title">{{'find-account.privileged' | translate}}:</span></div>
        <div class="col-sm-10 col-xs-8">
          <div class="info">{{elem?.privileged}}</div>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4">
          <span class="info-title">{{'find-account.total-resources' | translate}}:</span>
        </div>
        <div class="col-sm-3">
          <div class="info"><span class="font-weight-bold">{{'find-account.cpu-weight' | translate}}: </span>{{elem?.total_resources.cpu_weight}}</div>
        </div>
        <div class="col-sm-3">
          <div class="info"><span class="font-weight-bold">{{'find-account.net-weight' | translate}}: </span>{{elem?.total_resources.net_weight}}</div>
        </div>
        <div class="col-sm-3">
          <div class="info"><span class="font-weight-bold">{{'find-account.owner' | translate}}: </span>{{elem?.total_resources.owner}}</div>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4">
          <span class="info-title">{{'find-account.delegated-bandwidth' | translate}}:</span>
        </div>
        <div class="col-sm-10 col-xs-8">
          <div *ngIf="elem?.self_delegated_bandwidth !== null; else elseDes">
            <span class="info"><b>{{'find-account.cpu-weight' | translate}}: </b>{{elem?.self_delegated_bandwidth.cpu_weight}}
            </span>
            <span class="info"><b>{{'find-account.net-weight' | translate}}: </b>{{elem?.self_delegated_bandwidth.net_weight}}
            </span>
          </div>
          <ng-template #elseDes>
            <div class="info"><span class="font-weight-bold">{{'find-account.null' | translate}}</span></div>
          </ng-template>
        </div>
      </div>

      <div class="row info-item">
        <div class="col-sm-2 col-xs-4">
          <span class="info-title">{{'find-account.created' | translate}}:</span>
        </div>
        <div class="col-sm-10 col-xs-8">
          <span class="info">{{elem?.created}}</span>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-12 info-item">
          <div class="progress-bar-wrapp">
            <mat-progress-bar class="CPU HUGE" mode="determinate" value={{elem?.cpu_percent}}>{{'find-account.cpu' | translate}}</mat-progress-bar>
            <div class="info-block">
              <span class="block-title">{{'find-account.cpu' | translate}}:</span>
              <span class="parametrs"><b>{{elem?.cpu_limit.available}}</b> / {{elem?.cpu_limit.max}} <b>{{'info-bar.us' | translate}}</b></span>
            </div>
          </div>
          <div class="mt-2">
             <div class="col-10 text-left">
              <span>Stacked: {{elem?.cpu_stacked}}</span>
              <ng-template #cpuContent><div class="custom-tooltip"> Self stacked: {{elem.cpu_self_stacked}}<br> Stacked by others: {{elem?.cpu_other_stacked}} <br><div *ngIf="elem?.refund > 0"> Refunding: {{elem?.refund_request.cpu_amount}} </div> </div></ng-template>
              <button [ngbTooltip]="cpuContent" placement="bottom" type="button" class="mat-tooltip-btn ml-1" mat-raised-button>
                <fa-icon [icon]="faQuestionCircle"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 info-item">
          <div class="progress-bar-wrapp">
            <mat-progress-bar class="NET HUGE" mode="determinate" value={{elem?.net_percent}}>{{'find-account.net' |
              translate}}</mat-progress-bar>
            <div class="info-block">
              <span class="block-title">{{'find-account.net' | translate}}:</span>
              <span class="parametrs"><b>{{elem?.net_available_layout}}</b> / {{elem?.net_max_layout}} <b>{{elem?.net_sign_string}}</b></span>
            </div>
          </div>
          <div class="mt-2">
            <div class="col-10 text-left">
              <span>Stacked: {{elem?.net_stacked}}</span>
              <ng-template #netContent><div class="custom-tooltip"> Self stacked: {{elem.net_self_stacked}}<br> Stacked by others: {{elem?.net_other_stacked}} <br><div *ngIf="elem?.refund > 0"> Refunding: {{elem?.refund_request.net_amount}}  </div></div></ng-template>
              <button [ngbTooltip]="netContent" placement="bottom" type="button" class="mat-tooltip-btn ml-1" mat-raised-button>
                <fa-icon [icon]="faQuestionCircle"></fa-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 info-item">
          <div class="progress-bar-wrapp">
            <mat-progress-bar class="RAM HUGE" mode="determinate" value={{elem?.ram_percent}}>{{'find-account.ram' |
              translate}}</mat-progress-bar>
            <div class="info-block">
              <span class="block-title">{{'find-account.ram' | translate}}:</span>
              <span class="parametrs"><b>{{elem?.ram_available_layout}}</b> / {{elem?.ram_max_layout}} <b>{{elem?.ram_sign_string}}</b></span>
            </div>
          </div>
        </div>
      </div>

      <div class="row info-item mb-0">
        <div class="col-sm-2 col-xs-4">
          <span class="info-title">{{'find-account.tokens' | translate}}:</span>
        </div>
        <div class="col-sm-10 col-xs-8">
          <div class="info" *ngFor="let tokenOrd of elem?.tokens">
            {{tokenOrd?.balance}} <span class="font-weight-bold">{{tokenOrd?.international}}</span> -
            {{tokenOrd?.token}}</div>
        </div>
      </div>

    </div>
  </div>
</div>
