<div mat-dialog-content class="dialog-content">
  <img src="../assets/images/failure.png" />
  <br />
  <h3 id="failure-title" (click)="showMore=!showMore">{{'dialogs.failure' | translate}}</h3>
  <p class="mb-0" id="text-title" (click)="showMore=!showMore">{{'dialogs.trans-failed' | translate}}
    <img src="../assets/images/more.png" class="ml-1 my-auto"  /> </p>
  <div *ngIf="showMore">
    <p>{{data.message}}</p>
  </div>
</div>

<div mat-dialog-actions class="dialog-actions mt-3">
    <button mat-button mat-dialog-close color="primary" (click)="close()" class="go-back mx-auto">
      {{'dialogs.go-back' | translate}}
    </button>
</div>
