@import '../dialog.styles.scss';

$red-color: #f26963;

.go-back {
    background-color: $red-color;
}

#failure-title {
    color:$red-color;
    cursor: pointer;
}

button:focus {
    outline: 5px $red-color;
}

@media only screen and (min-width: $sm + 1){
    .dialog-content{
        max-width: 50vw;
    }
}
