<div [ngClass]="{'page-container': loginService.loggedIn(), 'one-container': !loginService.loggedIn()}">
  <div class="content-wrapper">
      <div [ngClass]="{'window-clear-container': true, 'one-container': !loginService.loggedIn()}">
        <div class="window-container pb-0 shadow-container shadow-top navbar-container">
            <app-manage-voting-navbar></app-manage-voting-navbar>
        </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-side-bar class="side-bar" *ngIf="loginService.loggedIn()"></app-side-bar>
</div>
