// label {
//   margin-top: 10px;
// }
//  h1 {
//    text-transform: uppercase;
//    text-align: center;
//  }
#name {
  font-weight: bold;
  color: #567fc3;
}

#ownerKey, #activeKey {
  color: black;
}

#CPUStake, #netStake, #ram {
  font-weight: bold;
}

// .form-container {
//   background-color: white;
//   padding: 40px;
//   width: 100%;
// }