<div mat-dialog-content class="dialog-content">

  <h3 class="header" translate >{{'dialog-change-last-network.header' | translate}}</h3>

  <div class="form-group btns">
    <button id="submit" class="submit" type="button" mat-raised-button color="primary" (click)="success()">{{'dialog-change-last-network.btn-success'
      | translate}}</button>
    <button id="submit" class="submit" type="button" mat-raised-button color="primary" (click)="close()">{{'dialog-change-last-network.btn-cancel'
      | translate}}</button>
  </div>

</div>