@import '../../../variable.scss';

.dialog-content {
    max-height: 85vh;
    min-width: 200px;
    max-width: 600px;
    text-align: center;
}

.btns {
    margin-top: $block_m_h;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    #submit {
        width: auto;
        min-width: 160px;
    }
    .submit {
        margin-bottom: 1rem;
    }

    @media screen and (max-width: $sm) {
        margin-top: $block_m_h_md;
        flex-direction: column;
        align-items: center;
    }
}