.choose-parameter-container {
  padding: 40px;
}

.parameter-container {
  display: flex;
  flex-direction: row;

  .parameter-container {
    position: relative;

    .parameter {
      background-color: #eff6fe;
      margin: 2px 15px 2px 15px;
    }

    .close {
      position: absolute;
      right: -7px;
      top: -7px;
      border-radius: 50%;
      background-color: #DED2C5;
      color: white !important;
      height: 25px;
      width: 25px;
    }
  }

}
