<h3 class="header"> {{'set-ram-rate.ram-title' | translate}}</h3>
  <form (ngSubmit)="t.form.valid && onSubmit()" #t="ngForm">
    <div class="item-form card-item">
      <app-unchanged-field childMessage="{{'common.account' | translate}}"> </app-unchanged-field>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-12 item-form last-item">
        <mat-form-field class="full-width">
          <input matInput placeholder="{{'set-ram-rate.ram-placeholder' | translate}}"
                  type="number" class="font-weight-bold" id="ramSize" required
                  min="0" step="1024"
                  [(ngModel)]="model.ramSize" name="ramSize"
                  [disabled]="!loginService.loggedIn()"
                  #ramSizeInput="ngModel">
          <mat-error *ngIf="ramSizeInput.errors?.required">{{'set-ram-rate.ram-size' | translate}} {{'errors.is-required' | translate}}</mat-error>
        </mat-form-field>
      </div>
  </div>

  <div class="button-container">
    <button
      [ngClass]="{'grey-button': !loginService.loggedIn()}"
      [disabled]="!loginService.loggedIn() || buttonBlockService.buttonBlocked()"
      id="submit" class="submit" type="submit"
      mat-raised-button color="primary" on>{{'buttons.set-ram' | translate}}</button>
  </div>
</form>
