<div class="page-container">
  <div class="info-bar shadow-container">
    <h4 class="info-bar-title">{{info.accountInfo?.account_name?.toUpperCase()}}</h4>
    <div class="info-line">
      <div class="info-item-wrapp">
        <div class="info-item">
          <span class="info-title">{{'info-bar.total-balance'| translate}}:</span>
          {{info.accountInfo?.total_balance || 0 | number}} {{'info-bar.eos'| translate}} / 
          <span class="text-sepia"> {{info.exUsdTotal || 0 | number}} USD </span>
        </div>
        <div class="info-item">
          <span class="info-title">{{'info-bar.unstaked'| translate}}:</span>
          {{info.accountInfo?.core_liquid_balance}}
        </div>
        <div class="info-item">
          <span class="info-title">{{'info-bar.staked'| translate}}:</span>
          {{info.stacked || 0 | number}} {{'info-bar.eos'| translate}}
        </div>
      </div>
      <div class="parametr-item-wrapp">
        <div class="parametr-item">
          <div class="row mb-2">
            <div class="col-1 text-left">
              {{'info-bar.cpu'| translate}}
            </div>
            <div class="col-10 text-right">
                {{'info-bar.remain'| translate}}: <b title="{{'info-bar.remain'| translate}}">{{info.accountInfo?.cpu_available_sec || 0 | number}}</b> / <span title="{{'info-bar.total'| translate}}">{{info.accountInfo?.cpu_max_sec || 0 | number}}</span> <b> {{'info-bar.us'| translate}}</b>
            </div>
          </div>
          <div class="row pl-3 pr-3">
            <mat-progress-bar class="CPU" mode="determinate" value={{info.cpuPercent}}></mat-progress-bar>
          </div>
          <div class="row mb-2">
              <div class="col-10 text-left">
                  <span title="Self Stacked: {{info.accountInfo?.cpu_self_stacked}}">Stacked: {{info.accountInfo?.cpu_stacked}}</span>
                </div>
          </div>
        </div>
        <div class="parametr-item">
          <div class="row mb-2">
            <div class="col-1 text-left">
              {{'info-bar.net'| translate}}
            </div>
            <div class="col-10 text-right">
                {{'info-bar.remain'| translate}}: <b title="{{'info-bar.remain'| translate}}">{{info.accountInfo?.net_available_kb || 0 | number}}</b> / <span title="{{'info-bar.total'| translate}}">{{info.accountInfo?.net_max_kb || 0 | number}}</span> <b> {{'info-bar.kb'| translate}}</b>
            </div>
          </div>
          <div class="row pl-3 pr-3">
            <mat-progress-bar class="NET" mode="determinate" value={{info.netPercent}}></mat-progress-bar>
          </div>
          <div class="row mb-2">
              <div class="col-10 text-left">
                  <span title="Self Stacked: {{info.accountInfo?.net_self_stacked}}">Stacked: {{info.accountInfo?.net_stacked}}</span>
                </div>
          </div>
        </div>
        <div class="parametr-item">
          <div class="row mb-2">
            <div class="col-1 text-left">
              {{'info-bar.ram'| translate}}
            </div>
            <div class="col-10 text-right">
                {{'info-bar.remain'| translate}}: <b title="{{'info-bar.remain'| translate}}">{{info.accountInfo?.ram_available_kb || 0 | number}}</b> / <span title="{{'info-bar.total'| translate}}">{{info.accountInfo?.ram_max_kb || 0 | number}}</span> <b> {{'info-bar.kb'| translate}}</b>
            </div>
          </div>
          <div class="row pl-3 pr-3">
            <mat-progress-bar class="RAM" mode="determinate" [value]="info.ramPercent"></mat-progress-bar>
          </div>
        </div>
      </div>


    </div>
    
    <div class="row ml-0 mr-0 info-line tokens" *ngIf="info.accountInfo.refund>0">
        <span class="info-title" title="{{info.accountInfo.request_time}}">{{'info-bar.refund'| translate}}:</span>
        <span title="{{info.accountInfo.request_time}}"> {{info.accountInfo.refund || 0 | number}} {{'info-bar.eos'| translate}}</span>
    </div>

    <div class="row ml-0 mr-0 info-line tokens">
      <span class="info-title">{{'info-bar.tokens'| translate}}: </span><span class="value">{{info.tokenString}}</span>
    </div>
  </div>
</div>
