<app-nav-bar-slider>
  <a routerLink="delegate" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.delegate' | translate}}</p>
  </a>
  <a routerLink="undelegate" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.undelegate' | translate}}</p>
  </a>
  <a routerLink="buy-sell-ram" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.buy-sell-ram' | translate}}</p>
  </a>
  <a routerLink="refundStake" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.refund-stake' | translate}}</p>
  </a>
  <a routerLink="get-permission" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.get-permis' | translate}}</p>
  </a>
  <a routerLink="link-unlink-permission" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.link-unlink-permis' | translate}}</p>
  </a>
  <a routerLink="delete-permission" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.delete-permis' | translate}}</p>
  </a>
  <a routerLink="advanced-permission" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.advanced-permis' | translate}}</p>
  </a>
  <a routerLink="set-ram" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-acc-navbar.set-ram-rate' | translate}}</p>
  </a>
</app-nav-bar-slider>
