@import '../../variable.scss';

li, h5 {
font-family: $ff_title;
}

section .even, section .odd{
    margin-left: 3em;
    margin-top:1em;
    margin-bottom:1em;
    float: left;
}

.bottom{
    clear: both;
}

.description{
    margin-bottom: $block_p_h / 2;
}
.section{
    margin-bottom: $block_p_h / 2;
    .section-title{
        margin-bottom: 15px;
        text-align: center;
    }
    ul{
        li{
            margin-bottom: 10px;
        }
    }
}