@import 'variable.scss';

:host ::ng-deep .slider-wrapp {
  position: relative;
  background-color: #aabfe0;
  overflow: hidden;

  &.disabled{
    background-color: #c6c6c6;
  }

  .navigation-links{
      display: inline-flex;
      width: auto;
      max-width: none;
      position: relative;
      left: 0;
      transition: left 0.5s;
      .link{
        width: 100%;
        padding: 14px 25px 12px 25px;
        font-family: $ff_title;
        color:  $white;
        text-decoration: none;
        text-align: center;
        font-weight: $fw_bold;
        font-size: $fz;
        white-space: nowrap;
        &.active-link {
          background-color: $white;
          color: $black;
        }
        &.activated {
          background-color: $white;
        }
        p {
          margin-bottom: 0;
        }
        @media screen and (max-width: $xl){
          padding: 11px 19px 9px 19px;
        }
      }
  }
  .arrow{
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    border: none;
    opacity: 0.7;
    z-index: 2;
    background: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiPgogIDxnPgogICAgPHBhdGggZD0ibTQwLjQsMTIxLjNjLTAuOCwwLjgtMS44LDEuMi0yLjksMS4ycy0yLjEtMC40LTIuOS0xLjJjLTEuNi0xLjYtMS42LTQuMiAwLTUuOGw1MS01MS01MS01MWMtMS42LTEuNi0xLjYtNC4yIDAtNS44IDEuNi0xLjYgNC4yLTEuNiA1LjgsMGw1My45LDUzLjljMS42LDEuNiAxLjYsNC4yIDAsNS44bC01My45LDUzLjl6IiBmaWxsPSIjMzQzNDM0Ii8+CiAgPC9nPgo8L3N2Zz4K) no-repeat center;
    background-size: 18px;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    &.left{
      left: 0;
      padding-right: 0;
      transform: rotate(180deg)
    }
    &.right{
      right: 0;
      padding-left: 0;
    }
  }

  .text-center-v {
    display: flex;
    align-items: center;
  }
}
