$ff: 'Open Sans';
$ff_title: 'Source Sans Pro';
$ff_consolas: 'Consolas';

$white: #fff;
$white_with_blue: #fefeff;
$red: red;
$black: #000;
$brown: #C0A387;
$brown_lite: #8A8A8A;
$blue: #567fc3;
$dark: #303030;
$purple: #e1ebf9;

$light_blue_bg: #f2f8ff;
$dark_input: #5d5f60;
$btn_bg: $brown;
$tc: #303030;
$border_input: #949494;
$file_label_bg: #ded2c5;
$input_border: #ddd;
$card_disabled_bg: #f4f4f4;
$card_disabled_color: #8d8d8e;
$input_file_disabled_color: #d1d1d1;

$block_shadow: 0px 0px 74px 2px rgba(157, 177, 233, 0.4);
$block_shadow_top: 0px -64px 70px 2px rgba(157, 177, 233, 0.4);

$tt: 0.4s;

$page_contaienr_indent: 8%;
$page_contaienr_indent_lg: 5%;
$page_contaienr_indent_md: 20px;

$block_m_h: 40px;
$block_m_w: 60px;
$block_m_h_lg: 30px;
$block_m_w_lg: 40px;
$block_m_h_md: 20px;
$block_m_w_md: 20px;

$block_p_h: 50px;
$block_p_w: 60px;
$block_p_h_lg: 30px;
$block_p_w_lg: 40px;
$block_p_h_md: 20px;
$block_p_w_md: 20px;

$side_bar_w: 300px;

$fz_logo: 26px;
$fz: 16px;
$fz_small: 14px;
$fz_v_small: 12px;

$fw_semi: 600;
$fw_bold: 700;
$fw: 400;

$block_z_index: 2;
$block_shadow_z_index: 1;
$shasow_z_index: -1;


$xl: 1679px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;
