<app-nav-bar-slider>
  <a routerLink="setProxy" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.set-proxy' | translate}}</p>
  </a>
  <a routerLink="createProxy" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.create-proxy' | translate}}</p>
  </a>
  <a routerLink="resignProxy" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.resign-proxy' | translate}}</p>
  </a>
  <a routerLink="registerProducer" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.register-producer' | translate}}</p>
  </a>
  <a routerLink="removeProducer" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.remove-producer' | translate}}</p>
  </a>
  <a routerLink="setProducer" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.set-producer' | translate}}</p>
  </a>
  <a routerLink="unregisterProducer" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.unregister-producer' | translate}}</p>
  </a>
  <a routerLink="voterProducer" routerLinkActive="active-link" class="link text-center-v">
    <p>{{'manage-voting-navbar.voter-producer' | translate}}</p>
  </a>
</app-nav-bar-slider>
